.filters {
  background-color: $panel-default-heading-bg;
  border: 1px solid $panel-default-border;
  border-radius: $panel-border-radius;

  h3 {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
  }

  .panel {
    border: none;
    box-shadow: none;
  }

  .panel-title a:after {
    font-family: 'Glyphicons Halflings';
    content:"\2212";
    float: right;
    color: black;
  }

  .panel-title a.collapsed:after {
    content: "\2b";
  }

  .list-group {
    border-bottom: 1px solid $panel-default-border;
  }

  .list-group-item.checkbox {
    margin-top: 0;
  }

  .filter-section {
    padding-left: 10px;
    padding-right: 10px;
  }
}
