/*WHOLE PAGE FONT*/
.font {
  font-family: 'Questrial', sans-serif;
}

/*NAVBAR STUFF*/
.nav-style {
  background-color: rgba(32, 149, 252, .9);
  border-bottom: none;
}
.tab-height>li>a {
  height: 50px;
}
.tab-color {
  border-bottom: none;
}
.button-color {
  background-color: rgb(244, 244, 31);
}
.icon-bar-color {
  background-color: black;
}
/*NAVBAR LINK STYLE*/
.tab-color>li>a:link {
  color: black;
}
.tab-color>li>a:visited {
  color: black;
  font-style: italic;
}
.tab-color>li>a:hover {
  background-color: rgb(244, 244, 31);
  color: black;
  text-decoration: underline;
}
.tab-color>li>a:active {
  background-color: rgb(244, 244, 31);
  color: black;
  text-decoration: underline;
}
/*LOGO IN NAVBAR*/
.logo-xs{
  padding: 0;
}
.logo-xs img{
  max-height: 72px;
}

/*MAIN CONTENT STUFF*/
.masthead {
  padding-top: $navbar-height;

  h1 {
    text-align: center;
    font-weight: bold;

    > img {
      max-width: 210px;
    }
  }
}

/*MAP STUFF*/
.center-map {
  margin: 0 auto;
}
.map-size {
  width: 100%;
  height: 500px;
  margin: 0 10px 10px 0;
}

/*ACCORDION STYLE*/
.panel-heading .accordion-toggle:after {
  font-family: 'Glyphicons Halflings';
  content:"\2212";
  float: right;
  color: black;
}
.panel-heading .accordion-toggle.collapsed:after {
  content: "\2b";
}
.panel-padding {
  padding: 0;
}

.checkbox-margin {
  margin: 0;
}

.table-margin {
  margin-bottom: 0;
}

.accordion-heading {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

.center-input {
  width: 100%;
}

.button {
  margin-top: 10px;
  background-color: white;
  color: black;
  border-radius: 65px;
  border: 1px solid lightgrey;
  box-shadow: 0 3px 0 0 lightgrey;

  &:hover {
    color: #2095fc;
    font-style: italic;
    box-shadow: 2px grey;
  }
}

/*FIX THIS*/
@media only screen and (max-device-width: 400px) and (-webkit-min-device-pixel-ratio: 2) {
  .xs-width {
    width: 90%;
  }
}
