/**
 * Bootstrap overrides
 */

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

/**
 * Custom variables
 */

$google-font-url: "https://fonts.googleapis.com/css?family=Questrial";

$footer-bg: #f5f5f5;
$footer-height: 60px;
