/**
 * Custom variables
 */

$google-font-url: "https://fonts.googleapis.com/css?family=Questrial";

$footer-bg: #f5f5f5;
$footer-height: 60px;

$color-blue: rgb(32, 149, 252);
$color-yellow: rgb(244, 244, 31);

/**
 * Bootstrap overrides
 */

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

$navbar-default-bg: transparentize($color-blue, 0.1);
$navbar-default-link-color: black;
$navbar-default-link-active-bg: white;
$navbar-default-link-hover-bg: $color-yellow;
$navbar-default-toggle-icon-bar-bg: black;
$navbar-default-toggle-hover-bg: white;
